@inherits UmbracoViewPage<Merchello.UkFest.Web.Models.AddToBasket>
@using Merchello.UkFest.Web.Controllers
@using (Html.BeginUmbracoForm<BasketController>("AddToBasket"))
{
    if (Model.ProductOptions.Any())
    {
        // TODO come back to products with attributes
        <div class="sizes">

            <h3>Available sizes</h3>

            <label for="size_s">
                <a href="#">S</a>
                <input type="radio" id="size_s" name="size" value="s" class="size-input">
            </label>
            <label for="size_m">
                <a href="#">M</a>
                <input type="radio" id="size_m" name="size" value="m" class="size-input">
            </label>
            <label for="size_l">
                <a href="#">L</a>
                <input type="radio" id="size_l" name="size" value="l" class="size-input">
            </label>

        </div>
    }
    
    
    if (Model.OnSale)
    {
        <p class="price"><del>@Model.FormattedPrice</del> @Model.FormattedSalePrice</p>
    }
    else
    {
        <p class="price">@Model.FormattedPrice</p>
    }
    @Html.HiddenFor(x => x.ProductKey)
    <p class="text-center">
        <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</button>
    </p>
}

