@inherits UmbracoViewPage<Merchello.UkFest.Web.Models.OrderSummary>

<div class="box" id="order-summary">
    <div class="box-header">
        <h3>Order summary</h3>
    </div>
    <p class="text-muted">@Umbraco.GetDictionaryValue("ShippingInfo")</p>

    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td>Order subtotal</td>
                    <th>@Model.FormattedSubTotal</th>
                </tr>
                <tr>
                    <td>Shipping and handling</td>
                    <th>@Model.FormattedShippingTotal</th>
                </tr>
                <tr class="total">
                    <td>Total</td>
                    <th>@Model.FormattedTotal</th>
                </tr>
            </tbody>
        </table>
    </div>

</div>

