@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div id="advantages">

    <div class="container">

        <div class="col-md-12">

            <div class="box text-center">
                <h3 class="text-uppercase">About Minimal</h3>

                <p>Minimal contains <strong>23 beautiful HTML pages</strong> and is built with strong attention to detail.</p>



                <div class="same-height-row row">
                    <div class="col-sm-3">
                        <div class="box same-height clickable no-border text-center-xs text-center-sm">
                            <div class="icon">
                                <i class="fa fa-heart-o"></i>
                            </div>
                            <h4><a href="text.html">Satisfied customers</a></h4>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="box same-height clickable no-border text-center-xs text-center-sm">
                            <div class="icon">
                                <i class="fa fa-tags"></i>
                            </div>
                            <h4><a href="text.html">Best prices</a></h4>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="box same-height clickable no-border text-center-xs text-center-sm">
                            <div class="icon">
                                <i class="fa fa-send-o"></i>
                            </div>
                            <h4><a href="faq.html">Next day delivery</a></h4>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="box same-height clickable no-border text-center-xs text-center-sm">
                            <div class="icon">
                                <i class="fa fa-refresh"></i>
                            </div>
                            <h4><a href="contact.html">Free returns for 3 months</a></h4>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>

        </div>


    </div>
    <!-- /.container -->

</div>