@inherits Umbraco.Web.Mvc.UmbracoViewPage

<div id="advantages">

    <div class="container">

        <div class="col-md-12">

            <div class="box text-center">
                <h3 class="text-uppercase">@Model.GetPropertyValue("headTitle")</h3>
                @Model.GetPropertyValue("headDescription")
                
                @Html.Partial("Home/StoreFeatures")

            </div>

        </div>

    </div>
    <!-- /.container -->

</div>