@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div id="slider" class="owl-carousel owl-theme">

    <div class="item">
        <a href="#">
            <img src="img/slide1.jpg" alt="" class="img-responsive">
        </a>
    </div>

    <div class="item">
        <a href="#">
            <img src="img/slide2.jpg" alt="" class="img-responsive">
        </a>
    </div>

    <div class="item">
        <a href="#">
            <img src="img/slide3.jpg" alt="" class="img-responsive">
        </a>
    </div>

    <div class="item">
        <a href="#">
            <img src="img/slide4.jpg" alt="" class="img-responsive">
        </a>
    </div>

    <div class="item">
        <a href="#">
            <img src="img/slide5.jpg" alt="" class="img-responsive">
        </a>
    </div>

    <div class="item">
        <a href="#">
            <img src="img/slide6.jpg" alt="" class="img-responsive">
        </a>
    </div>


</div>