@inherits UmbracoViewPage
@{
    // This partial is semi hardcoded content panel for demo purposes
    // In a real world setting is would be editable in Umbraco
    // Possibly as a grid row or a nested content element.
}

<div class="same-height-row row">
    <div class="col-sm-3">
        <div class="box same-height clickable no-border text-center-xs text-center-sm">
            <div class="icon">
                <i class="fa fa-heart-o"></i>
            </div>
            <h4><a href="/about">Satisfied customers</a></h4>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="box same-height clickable no-border text-center-xs text-center-sm">
            <div class="icon">
                <i class="fa fa-tags"></i>
            </div>
            <h4><a href="/about">Best prices</a></h4>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="box same-height clickable no-border text-center-xs text-center-sm">
            <div class="icon">
                <i class="fa fa-send-o"></i>
            </div>
            <h4><a href="/about">Next day delivery</a></h4>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="box same-height clickable no-border text-center-xs text-center-sm">
            <div class="icon">
                <i class="fa fa-refresh"></i>
            </div>
            <h4><a href="/about">Free returns for 3 months</a></h4>
        </div>
    </div>
</div>
<!-- /.row -->
