
 <h3 class="hidden"><i class="fa fa-eye"></i><br>Order Review</h3>
<form id="step4" action="@Url.Action("ConfirmOrder", "Checkout")" method="GET">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">Product</th>
                    <th>Quantity</th>
                    <th>Unit price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#">
                            <img src="/img/detailsquare.jpg" alt="White Blouse Armani">
                        </a>
                    </td>
                    <td>
                        <a href="#">White Blouse Armani</a>
                    </td>
                    <td>2</td>
                    <td>$123.00</td>
                    <td>$246.00</td>
                </tr>
                <tr>
                    <td>
                        <a href="#">
                            <img src="/img/basketsquare.jpg" alt="Black Blouse Armani">
                        </a>
                    </td>
                    <td>
                        <a href="#">Black Blouse Armani</a>
                    </td>
                    <td>1</td>
                    <td>$200.00</td>
                    <td>$200.00</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4">Total</th>
                    <th>$446.00</th>
                </tr>
            </tfoot>
        </table>

    </div>
    <div class="box-footer">
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="Confirm" />
        </div>
    </div>
</form>

