/* your styles go here */
#modal-result {
    display: none;
}

#add-basket {
    margin-bottom: 20px;
}

#mainImage {
    margin-bottom: 10px;
}

.padding-md {
    padding: 5px;
}

.row #thumbs {
    margin-right: -5px;
    margin-left: -5px;
}

#checkout-forms fieldset {
    margin: 2rem 0;
}

.field-validation-error {
    font-weight: bold;
    color: red; 
}

.input-validation-error{ border: 1px solid red; }