@inherits Merchello.UkFest.Web.Mvc.DitFloView<Merchello.UkFest.Web.Models.Breadcrumb>

<ul class="breadcrumb">
    @foreach (var link in Model.View.Links)
    {
        <li><a href="@link.Url">@link.Title</a></li>
    }
</ul>
