@inherits Merchello.UkFest.Web.Mvc.DitFloView<Merchello.UkFest.Web.Models.Category.CategoryTree>

<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
    </div>

    <div class="panel-body">
        
        <!-- TODO: Iterate Product Listing -->
        <img src="https://placeholdit.imgix.net/~text?txtsize=50&txt=TODO:Tree&w=225&h=600">

    </div>
</div>
