@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
    
<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            <p class="pull-left">
                &copy; 2015. Minimal is a responsive bootstrap theme by <a href="http://www.ondrejsvestka.cz" class="external">Ondrej Svestka</a>.
                If you want to use these templates in a commercial project, please 
                <a href="https://wrapbootstrap.com/theme/minimal-responsive-e-commerce-theme-WB0T7G33N" class="external">buy it</a>.  Its only $14.
                <br/>
                This demo site was created by <a href="http://www.barryfogarty.com" class="external">Barry Fogarty</a> and 
                <a href="http://www.uditty.com" class="external">Rusty Swayne</a> for the Umbraco UK Festival 2015.
            </p>
            <p class="pull-right">
                <img src="/img/payment.png" alt="payments accepted">
            </p>

        </div>
    </div>
</div>

