@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
    
<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            <p class="pull-left">&copy; 2014. Minimal is responsive template by <a href="http://www.ondrejsvestka.cz" class="external">Ondrej Svestka</a>.</p>
            <p class="pull-right">
                <img src="/img/payment.png" alt="payments accepted">
            </p>

        </div>
    </div>
</div>

