@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div id="footer">
    <div class="container">
        <div class="col-md-3 col-sm-6">
            <h4>Pages</h4>

            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>

            <hr>

            <h4>User section</h4>

            <ul>
                <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                <li><a href="#">Regiter</a></li>
            </ul>

            <hr class="hidden-md hidden-lg hidden-sm">
        </div>
        <!-- /.col-md-3 -->

        <div class="col-md-3 col-sm-6">

            <h4>Top categories</h4>

            <h5><a href="/shop/boards/">Boards</a></h5>
            <ul>
                <li><a href="/shop/boards/single-fins/">Single Fins</a></li>
                <li><a href="/shop/boards/twin-fins/">Twin Fins</a></li>
                <li><a href="/shop/boards/quads/">Quads</a></li>
            </ul>

            <h5><a href="/shop/apparel/">Apparel</a></h5>
            <ul>
                <li><a href="/shop/apparel/shorts/">Shorts</a></li>
                <li><a href="/shop/apparel/t-shirts/">T-Shirts</a></li>
            </ul>

            <hr class="hidden-md hidden-lg">
        </div>
        <!-- /.col-md-3 -->

        <div class="col-md-3 col-sm-6">

            <h4>Where to find us</h4>

            <p>
                <strong>The Fellow Way Ltd.</strong><br/>
                64 Pipe Dreams<br/>
                Falmouth<br/>
                Cornwallian<br/>
                England
            </p>

            <a href="#">Go to contact page</a>

            <hr class="hidden-md hidden-lg hidden-sm">
        </div>
        <!-- /.col-md-3 -->

        <div class="col-md-3 col-sm-6">

            <h4>Get the news</h4>

            <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

            <form>
                <div class="input-group">

                    <input type="text" class="form-control">

                    <span class="input-group-btn">

                        <button class="btn btn-default" type="button">Subscribe!</button>

                    </span>

                </div>
                <!-- /input-group -->
            </form>

            <hr>

            <h4>Stay in touch</h4>

            <p class="social">
                <a href="#"><i class="fa fa-facebook-square"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
            </p>


        </div>
        <!-- /.col-md-3 -->
    </div>
    <!-- /.container -->
</div>
