@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
    
<div id="footer">
    <div class="container">
        <div class="col-md-3 col-sm-6">
            <h4>Pages</h4>

            <ul>
                <li>
                    <a href="text.html">About us</a>
                </li>
                <li>
                    <a href="text-left.html">Terms and conditions</a>
                </li>
                <li>
                    <a href="faq.html">FAQ</a>
                </li>
                <li>
                    <a href="contact.html">Contact us</a>
                </li>
            </ul>

            <hr>

            <h4>User section</h4>

            <ul>
                <li>
                    <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                </li>
                <li>
                    <a href="register.html">Regiter</a>
                </li>
            </ul>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-3 -->

        <div class="col-md-3 col-sm-6">

            <h4>Top categories</h4>

            <h5>Men</h5>

            <ul>
                <li>
                    <a href="/category">T-shirts</a>
                </li>
                <li>
                    <a href="/category">Shirts</a>
                </li>
                <li>
                    <a href="/category">Accessories</a>
                </li>
            </ul>

            <h5>Ladies</h5>
            <ul>
                <li>
                    <a href="/category">T-shirts</a>
                </li>
                <li>
                    <a href="/category">Skirts</a>
                </li>
                <li>
                    <a href="/category">Pants</a>
                </li>
                <li>
                    <a href="/category">Accessories</a>
                </li>
            </ul>

            <hr class="hidden-md hidden-lg">

        </div>
        <!-- /.col-md-3 -->

        <div class="col-md-3 col-sm-6">

            <h4>Where to find us</h4>

            <p>
                <strong>Obaju Ltd.</strong>
                <br>13/25 New Avenue
                <br>New Heaven
                <br>45Y 73J
                <br>England
                <br>
                <strong>Great Britain</strong>
            </p>

            <a href="contact.html">Go to contact page</a>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-3 -->



        <div class="col-md-3 col-sm-6">

            <h4>Get the news</h4>

            <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

            <form>
                <div class="input-group">

                    <input type="text" class="form-control">

                    <span class="input-group-btn">

                        <button class="btn btn-default" type="button">Subscribe!</button>

                    </span>

                </div>
                <!-- /input-group -->
            </form>

            <hr>

            <h4>Stay in touch</h4>

            <p class="social">
                <a href="#"><i class="fa fa-facebook-square"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
            </p>


        </div>
        <!-- /.col-md-3 -->
    </div>
    <!-- /.container -->
</div>
