@inherits Merchello.UkFest.Web.Mvc.DitFloView<Merchello.UkFest.Web.Models.Header>

<div class="row">
    <div class="box text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>@Model.View.Title</h1>
                <div class="text-muted">@Model.View.Brief</div>
            </div>
        </div>
    </div>
</div>
