@inherits UmbracoTemplatePage


<div class="navbar navbar-default navbar-fixed-top yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand home" href="index.html">
                <img src="img/logo.png" alt="Minimal logo" class="hidden-xs hidden-sm">
                <img src="img/logo-small.png" alt="Minimal logo" class="visible-xs visible-sm"><span class="sr-only">Minimal - go to homepage</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle btn-primary" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <a class="btn btn-primary navbar-toggle" href="basket.html">
                    <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">3 items in cart</span>
                </a>
                <button type="button" class="navbar-toggle btn-default" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
                <button type="button" class="navbar-toggle btn-default" data-toggle="modal" data-target="#login-modal">
                    <span class="sr-only">User login</span>
                    <i class="fa fa-users"></i>
                </button>

            </div>
        </div>
        <!--/.navbar-header -->

        <div class="navbar-collapse collapse" id="navigation">

            <ul class="nav navbar-nav navbar-left">
                <li class="active dropdown normal-dropdown">
                    <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Home<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="index.html">Home - default</a>
                        </li>
                        <li>
                            <a href="index2.html">Home - intro image</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Men<b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="img/men.jpg" class="img-responsive hidden-xs" alt="">
                                    </div>
                                    <div class="col-sm-3">
                                        <h3>Clothing</h3>
                                        <ul>
                                            <li>
                                                <a href="category.html">T-shirts</a>
                                            </li>
                                            <li>
                                                <a href="category.html">Shirts</a>
                                            </li>
                                            <li>
                                                <a href="category.html">Pants</a>
                                            </li>
                                            <li>
                                                <a href="category.html">Accessories</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h3>Clothing</h3>
                                        <ul>
                                            <li>
                                                <a href="category.html">T-shirts</a>
                                            </li>
                                            <li>
                                                <a href="category.html">Shirts</a>
                                            </li>
                                            <li>
                                                <a href="category.html">Pants</a>
                                            </li>
                                            <li>
                                                <a href="category.html">Accessories</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h3>Shoes</h3>
                                        <ul>
                                            <li>
                                                <a href="category.html">Trainers</a>
                                            </li>
                                            <li>
                                                <a href="category.html">Sandals</a>
                                            </li>
                                            <li>
                                                <a href="category.html">Hiking shoes</a>
                                            </li>
                                            <li>
                                                <a href="category.html">Casual</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="footer clearfix hidden-xs">
                                <h4 class="pull-right">Men</h4>
                                <div class="buttons pull-left">
                                    <a href="#" class="btn btn-default"><i class="fa fa-tags"></i> Sales</a>
                                    <a href="#" class="btn btn-default"><i class="fa fa-star-o"></i> Favourites</a>
                                    <a href="#" class="btn btn-default"><i class="fa fa-globe"></i> Brands</a>
                                </div>
                            </div>

                        </li>
                    </ul>
                </li>
                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Women <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="img/women.jpg" class="img-responsive hidden-xs" alt="">
                                    </div>
                                    <div class="col-sm-3">
                                        <h3>Clothing</h3>
                                        <ul>
                                            <li>
                                                <a href="category.html">T-shirts</a>
                                            </li>
                                            <li>
                                                <a href="category.html">Shirts</a>
                                            </li>
                                            <li>
                                                <a href="category.html">Pants</a>
                                            </li>
                                            <li>
                                                <a href="category.html">Accessories</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h3>Clothing</h3>
                                        <ul>
                                            <li>
                                                <a href="category.html">T-shirts</a>
                                            </li>
                                            <li>
                                                <a href="category.html">Shirts</a>
                                            </li>
                                            <li>
                                                <a href="category.html">Pants</a>
                                            </li>
                                            <li>
                                                <a href="category.html">Accessories</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h3>Shoes</h3>
                                        <ul>
                                            <li>
                                                <a href="category.html">Trainers</a>
                                            </li>
                                            <li>
                                                <a href="category.html">Sandals</a>
                                            </li>
                                            <li>
                                                <a href="category.html">Hiking shoes</a>
                                            </li>
                                            <li>
                                                <a href="category.html">Casual</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="footer clearfix hidden-xs">
                                <h4 class="pull-right">Women</h4>
                                <div class="buttons pull-left">
                                    <a href="#" class="btn btn-default"><i class="fa fa-tags"></i> Sales</a>
                                    <a href="#" class="btn btn-default"><i class="fa fa-star-o"></i> Favourites</a>
                                    <a href="#" class="btn btn-default"><i class="fa fa-globe"></i> Brands</a>
                                </div>
                            </div>

                        </li>
                    </ul>
                </li>
                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Template <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h5>Homepage</h5>
                                        <ul>
                                            <li>
                                                <a href="index.html">Homepage - with slideshow</a>
                                            </li>
                                            <li>
                                                <a href="index2.html">Homepage - with intro image</a>
                                            </li>
                                        </ul>
                                        <h5>Shop</h5>
                                        <ul>
                                            <li>
                                                <a href="category.html">Category - sidebar right</a>
                                            </li>
                                            <li>
                                                <a href="category-left.html">Category - sidebar left</a>
                                            </li>
                                            <li>
                                                <a href="category-full.html">Category - full width</a>
                                            </li>
                                            <li>
                                                <a href="detail.html">Product detail</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>User</h5>
                                        <ul>
                                            <li>
                                                <a href="register.html">Register / login</a>
                                            </li>
                                            <li>
                                                <a href="customer-orders.html">Orders history</a>
                                            </li>
                                            <li>
                                                <a href="customer-order.html">Order history detail</a>
                                            </li>
                                            <li>
                                                <a href="customer-wishlist.html">Wishlist</a>
                                            </li>
                                            <li>
                                                <a href="customer-account.html">Customer account / change password</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>Order process</h5>
                                        <ul>
                                            <li>
                                                <a href="basket.html">Shopping cart</a>
                                            </li>
                                            <li>
                                                <a href="checkout1.html">Checkout - step 1</a>
                                            </li>
                                            <li>
                                                <a href="checkout2.html">Checkout - step 2</a>
                                            </li>
                                            <li>
                                                <a href="checkout3.html">Checkout - step 3</a>
                                            </li>
                                            <li>
                                                <a href="checkout4.html">Checkout - step 4</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>Pages and blog</h5>
                                        <ul>
                                            <li>
                                                <a href="blog.html">Blog listing</a>
                                            </li>
                                            <li>
                                                <a href="post.html">Blog Post</a>
                                            </li>
                                            <li>
                                                <a href="faq.html">FAQ</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Contact</a>
                                            </li>
                                            <li>
                                                <a href="text.html">Text page</a>
                                            </li>
                                            <li>
                                                <a href="text-left.html">Text page - left sidebar</a>
                                            </li>
                                            <li>
                                                <a href="404.html">404 page</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.yamm-content -->
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>

        </div>
        <!--/.nav-collapse -->

        <div class="navbar-collapse collapse right" id="basket-overview">
            <a href="basket.html" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">3 items <span class="hidden-md">in cart</span></span></a>
        </div>
        <!--/.nav-collapse -->

        <div class="navbar-collapse collapse right">
            <button type="button" class="btn navbar-btn btn-default" data-toggle="collapse" data-target="#search">
                <span class="sr-only">Toggle search</span>
                <i class="fa fa-search"></i>
            </button>
        </div>

        <div class="navbar-collapse collapse right">
            <button type="button" class="btn navbar-btn btn-default" data-toggle="modal" data-target="#login-modal">
                <span class="sr-only">User login</span>
                <i class="fa fa-users"></i>
            </button>
        </div>

        <div class="collapse clearfix" id="search">

            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">

                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

                    </span>
                </div>
            </form>

        </div>
        <!--/.nav-collapse -->

    </div>


</div>