@inherits Umbraco.Web.Mvc.UmbracoViewPage

<div class="pages">

    <p class="loadMore">
        <a href="#" class="btn btn-primary"><i class="fa fa-chevron-down"></i>Load more</a>
    </p>

    <ul class="pagination">
        <li><a href="#">&laquo;</a>
        </li>
        <li class="active"><a href="#">1</a>
        </li>
        <li><a href="#">2</a>
        </li>
        <li><a href="#">3</a>
        </li>
        <li><a href="#">4</a>
        </li>
        <li><a href="#">5</a>
        </li>
        <li><a href="#">&raquo;</a>
        </li>
    </ul>

</div>
