@inherits Umbraco.Web.Mvc.UmbracoViewPage

<div class="container">

    <div class="col-sm-12">

        <!-- TODO: Iterate Product Listing -->
        <img src="https://placeholdit.imgix.net/~text?txtsize=50&txt=TODO:ProductListing&w=1110&h=800">

    </div>
    <!-- /.col-sm-12 -->

</div>