@inherits Merchello.UkFest.Web.Mvc.DitFloView<Merchello.UkFest.Web.Models.ProductListing>

<div class="container">

    <div class="col-sm-12">

        @*<div class="box text-center">
            <h3 class="text-uppercase">@Model.View.CollectionName</h3>
            <h4 class="text-muted">@Model.View.CollectionBrief</h4>
        </div>*@

        <div class="row products">
            @foreach (var product in Model.View.Products)
            {                            
            <div class="col-md-3 col-sm-4">
                @Html.Partial("_ProductBoxComplex", product)
                <!-- /.product -->
            </div>
            }           

            @Html.Partial("_Modal")

        </div>
        <!-- /.products -->

    </div>
    <!-- /.col-sm-12 -->

</div>