@inherits Merchello.UkFest.Web.Mvc.DitFloView<Promo>
@using Merchello.UkFest.Web.Models

<div class="bar no-mb color-white text-center" style="background: url('@Model.View.Image.Url') center top no-repeat;background-size: cover;background-attachment: fixed;">
    @*<div class="dark-mask"></div>*@
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Model.View.Title</h1>
                @Model.View.Text
            </div>
        </div>
    </div>
</div>
