@inherits Umbraco.Web.Mvc.UmbracoViewPage

<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
    </div>

    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked category-menu">
            <li>
                <a href="/category">Men <span class="badge pull-right">42</span></a>
                <ul>
                    <li><a href="/category">T-shirts</a>
                    </li>
                    <li><a href="/category">Shirts</a>
                    </li>
                    <li><a href="/category">Pants</a>
                    </li>
                    <li><a href="/category">Accessories</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="/category">Ladies  <span class="badge pull-right">123</span></a>
                <ul>
                    <li><a href="/category">T-shirts</a>
                    </li>
                    <li><a href="/category">Skirts</a>
                    </li>
                    <li><a href="/category">Pants</a>
                    </li>
                    <li><a href="/category">Accessories</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/category">Kids  <span class="badge pull-right">11</span></a>
                <ul>
                    <li><a href="/category">T-shirts</a>
                    </li>
                    <li><a href="/category">Skirts</a>
                    </li>
                    <li><a href="/category">Pants</a>
                    </li>
                    <li><a href="/category">Accessories</a>
                    </li>
                </ul>
            </li>

        </ul>

    </div>
</div>
