@* WORKSHOP: Create this (unpaged) *@

@inherits UmbracoViewPage<PagedCollection<ProductListItem>>
@using Merchello.UkFest.Web.Models

@* Product Grid *@
<div class="row products">
    
    @foreach (var product in Model.Items)
    {

        <div class="col-md-4 col-sm-6">
            @Html.Partial("_ProductBoxComplex", product)
        </div>
    }

</div>
<!-- /.products -->
