<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="box">
            <h3>Products viewed recently</h3>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="product">
            <div class="image">
                <a href="#">
                    <img src="/img/product3.jpg" alt="" class="img-responsive image1">
                </a>
            </div>
            <div class="text">
                <h3>Fur coat</h3>
                <p class="price">$143</p>
            </div>
        </div>
        <!-- /.product -->
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="product">
            <div class="image">
                <a href="#">
                    <img src="/img/product1.jpg" alt="" class="img-responsive image1">
                </a>
            </div>
            <div class="text">
                <h3>Fur coat</h3>
                <p class="price">$143</p>
            </div>
        </div>
        <!-- /.product -->
    </div>


    <div class="col-md-3 col-sm-6">
        <div class="product">
            <div class="image">
                <a href="#">
                    <img src="/img/product2.jpg" alt="" class="img-responsive image1">
                </a>
            </div>
            <div class="text">
                <h3>Fur coat</h3>
                <p class="price">$143</p>
            </div>
        </div>
        <!-- /.product -->
    </div>

</div>

