@inherits UmbracoTemplatePage
@{
    Layout = "_Base.cshtml";
}

<div id="content">
    <div class="container">

        <div class="col-md-12">
            @Html.Partial("_Breadcrumbs")
            @Html.Partial("_Header")
        </div>

        <div class="row">

            <div class="col-sm-9">

                @RenderBody()

            </div>

            <div class="col-sm-3">

                @RenderSection("Sidebar")

            </div>

        </div>

    </div>
</div>
