@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Sidebar.cshtml";
}

<div class="box">

    <form id="basket" method="post" action="checkout1.html">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Product</th>
                        <th>Quantity</th>
                        <th>Unit price</th>
                        <th>Discount</th>
                        <th colspan="2">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="#">
                                <img src="/img/detailsquare.jpg" alt="White Blouse Armani">
                            </a>
                        </td>
                        <td><a href="#">White Blouse Armani</a>
                        </td>
                        <td>
                            <input type="number" value="2" class="form-control">
                        </td>
                        <td>$123.00</td>
                        <td>$0.00</td>
                        <td>$246.00</td>
                        <td><a href="#"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">
                                <img src="/img/basketsquare.jpg" alt="Black Blouse Armani">
                            </a>
                        </td>
                        <td><a href="#">Black Blouse Armani</a>
                        </td>
                        <td>
                            <input type="number" value="1" class="form-control">
                        </td>
                        <td>$200.00</td>
                        <td>$0.00</td>
                        <td>$200.00</td>
                        <td><a href="#"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5">Total</th>
                        <th colspan="2">$446.00</th>
                    </tr>
                </tfoot>
            </table>

        </div>
        <!-- /.table-responsive -->

        <div class="box-footer">
            <div class="pull-left">
                <a href="category.html" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
            </div>
            <div class="pull-right">
                <button class="btn btn-default"><i class="fa fa-refresh"></i> Update cart</button>
                <button type="submit" class="btn btn-primary">Proceed to checkout <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>

    </form>

</div>
<!-- /.box -->


@Html.Partial("Product/Related")

@section Sidebar {
    @Html.Partial("Basket/Summary")
    @Html.Partial("Basket/RedeemCoupon")
}