@inherits Merchello.UkFest.Web.Mvc.DitFloView<Merchello.UkFest.Web.Models.BasketView>
@{
    Layout = "_Sidebar.cshtml";
}

<div class="box">

@Html.Partial("Basket/BasketTable", Model.View.UpdateBasket)

</div>
<!-- /.box -->


@Html.Partial("Product/Related")

@section Sidebar {
    @Html.Partial("Basket/Summary", Model.View.OrderSummary)
    @Html.Partial("Basket/RedeemCoupon")
}