@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Base.cshtml";
}

@section Head {
    @Html.Partial("Home/ProductCarousel")
}

@Html.Partial("Home/Advantages")

<div id="content">
    @Html.Partial("Home/NewArrivals")
    @Html.Partial("_PromoBar")
</div>