@inherits Merchello.UkFest.Web.Mvc.DitFloView<Merchello.UkFest.Web.Models.ProductDetail>
@{
    Layout = "_Sidebar.cshtml";
}

<div class="row" id="productMain">

    <div class="col-sm-6">

        <!-- TODO: Product Photos -->
        <img src="https://placeholdit.imgix.net/~text?txtsize=50&txt=TODO:ProductPhotos&w=400&h=600">

    </div>

    <div class="col-sm-6">

        <div id="add-basket">
            @Html.Partial("Basket/AddToBasket", Model.View.AddToBasket)
        </div>

        <div id="details">
            <h4>Product details</h4>
            <!-- Get Details -->
        </div>
        
        <div class="box social" id="product-social">
            <h4>Show it to your friends</h4>
            <p>
                <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
            </p>
        </div>

    </div>

</div>

@section Sidebar {
    @Html.CachedPartial("_CategoryTree", null, 500)
}