@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Base.cshtml";
}

<div id="content">
    <div class="container">

        <div class="col-md-12">
            @Html.Partial("_Breadcrumbs")
            @Html.Partial("_Header")
        </div>

        @Html.Partial("_ProductList")
    
        @Html.Partial("_RecentlyViewed")
    </div>
</div>
